.state1,
.state2,
.state3,
.state4,
.state5 {
	display: none;
}

body {
	font-family: 'helvetica', 'arial', sans-serif;
}

/*wait for launch*/
body.body-state1 .rocket{
	transition: none;
}
/*countdown*/
body.body-state2 .rocket{
	transition: none;
	background: url('../img/rocket-state2.gif');
}
/*liftoff*/
/*successful launch*/
body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;
	background: url('../img/rocket-state3.gif');
}
/*explosion*/
body.body-state5 .rocket{

	background: url('../img/boom.png');
	width: 209px;
	height: 200px;
	margin-left: -104.5px;
}


body.body-state1 .state1{
	display: block;
}
body.body-state2 .state2{
	display: block;
}
body.body-state3 .state3{
	display: block;
}
body.body-state4 .state4{
	display: block;
}
body.body-state5 .state5{
	display: block;
}


.left {
	position: fixed;
	background-color: teal;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.right {
	position: fixed;
	background-color: lightskyblue;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.rocket {
	position: absolute;
	left: 50%;
	bottom: -13px;
	width: 143px;
	height: 272px;
	margin-left: -71.5px; 
	background: url('../img/rocket-state1.png') no-repeat 0 0;
	transition: bottom 8000ms;
}

.rocket.flying {
	bottom: 1000px;
}

.ground {
	background: url(../img/ground.png) no-repeat center center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
}

.nervous {
	position: absolute;
	bottom: 220px;
	left: 50%;
	background: url('../img/nervous.png') no-repeat 0 0;
	width: 223px;
	height: 100px;
	margin-left: -180px;
	display: none;
}

.cant-wait {
	position: absolute;
	bottom: 220px;
	left: 50%;
	background: url('../img/cant-wait.png') no-repeat 0 0;
	width: 206px;
	height: 65px;
	display: none;
}

.nervous.show {
	display: block;
}
.cant-wait.show {
	display: block;
}

.interface {
    text-align: center;
    padding: 20px;
}



a.button {
	display: inline-block;
	background-color: white;
	color: black;
	padding: 20px 40px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	transition: color 300ms;
}

a:hover {
	color: red;
}

a.button.abort {
	color: red;
}